<html>
	<head>
	 <title>Django	Girls	blog</title>
	</head>
	<body>
		<div>
			<h1><a	href="">Ekwinder's Blog </a></h1>
		</div>
		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a	href="">My first post</a></h2>
			<p>This is my first post which i have posted
				in this blog. I hope you like it as much 
				as I do.
			</p>
		</div>
		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a	href="">My second post</a></h2>
			<p>This is my Second post which i have posted
				in this blog. This is by far the best post
				I have ever writtern
			</p>
		</div>
	</body>
</html>